  @keyframes background-pan {
    from {
      background-position: 0% center;
    }
    
    to {
      background-position: -200% center;
    }
  }
  
  @keyframes scale {
    from, to {
      transform: scale(0);
    }
    
    50% {
      transform: scale(1);
    }
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    
    to {
      transform: rotate(180deg);
    }
  }
  
  header {
    display: grid;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
    place-items: center;
    font-size: clamp(20px, 2vw, 100px);
    text-align: center;
    overflow: hidden;
  }

  video {
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 10%;
  }
  

  
  h1 > .magic {
    display: inline-block;
  }
  
  h1 > .magic > .magic-text {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(
      to right,
      rgb(176, 4, 255),
      rgb(116, 85, 255),
      rgb(255, 193, 214),
      rgb(176, 4, 255)
    );
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
  }

  .magic-div {
    inset: 0;
    margin-top: 15vh;
    user-select: none;
    position: absolute;
    height: 15%;
  }