.main {
    box-shadow: 0 10px 20px rgba($color: #000000, $alpha: 0.7);
}

.googleLogin {
    display: flex;
    justify-content: center;
    span {
        color:#000000;
        background-color: white;
    }
}