@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgba(14, 14, 14, 0.993);
}

a {
    background:
      linear-gradient(
        to right,
        rgb(161 161 170),
        rgb(161 161 170)
      ),
      linear-gradient(
        to right,
        rgb(176, 4, 255),
        rgb(116, 85, 255),
        rgb(255, 193, 214)
    );
    background-size: 100% 2px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: 600ms;
  }
  
  a:hover {
    background-size: 0 2px, 100% 3px;
  }